// * --------------------------
// Reset
// --------------------------- *
@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {margin: 0; padding: 0; font-family: 'Noto Sans KR' , sans-serif; vertical-align:baseline}
img, fieldset, input, select, textarea, button {border: none;}
ul, ol, li {list-style: none;}
table {width: 100%; border-spacing: 0; border-collapse: collapse;}
address, cite, code, em {font-style: normal; font-weight: normal;}
label, img, input, select, textarea, button, a {vertical-align: middle;}
a {color: #000; text-decoration: none;}

button, input[value="button"] {cursor: pointer;}
html{font-size: 16px;}
body{font-size: 1rem;}

/* select 초기화 */
select{
	border-radius:0; /* 아이폰 사파리 보더 없애기 */ 
	-webkit-appearance:none; /* 화살표 없애기 for chrome*/ 
	-moz-appearance:none; /* 화살표 없애기 for firefox*/ 
	appearance:none; /* 화살표 없애기 공통*/
	outline: none;

	&::-ms-expand{
		display: none;
	}
}