// * --------------------------
// Variables
// --------------------------- *

//Font-color
$default-color : #222222 !default;
$font-white    : #FFFFFF !default;
$font-gray     : #333333 !default;
$font-orange   : #F56B13 !default;
$font-red      : #FF0000 !default;

//Line
$line-white    : #FFFFFF !default;   
$line-orange   : #F56B13 !default;
$line-gray     : #CCCCCC !default;

//Background
$bg-black      : #333333 !default;
$bg-gray       : #CCCCCC !default;
$bg-orange     : #F56B13 !default;
$bg-white      : #FFFFFF !default;
$bg-blue       : #0075C1 !default;
$bg-table      : #ECECEC !default;
$bg-apricot    : #f7e1b9 !default;
//Button
$btn-default   : #F56B13 !default;

//weight
$bold          : 700;
